# Dependencies
node_modules/
lookbook-frontend/node_modules/
lookbook-backend/node_modules/

# Production builds
build/
dist/
lookbook-frontend/build/

# Coverage
coverage/

# Environment files
# Environment files
.env
.env.*
lookbook-backend/.env
lookbook-frontend/.env

.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# Assets folder 
Assets/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*